Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = 'yash'
type(a)

str

In [2]:
a = [2,3,4,5,6]
type(a)

list

In [8]:
a = 40.45
type(a)

float

In [4]:
a = (2,3,4);
type(a)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

1) str
2) list
3) str
4) float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [9]:
a = 5
b = 10
a/b
# /this operator means to divide the numbers

0.5

In [16]:
a = 5
b = 100
a % b
# % this operator means to calculate percentage

5

In [18]:
a = 55
b = 45
a//b

1

In [20]:
a = 2
b = 3
a**b

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [28]:
a = "yash", 5,45,5.5
for i in a:
    print(type(i))
    print(i)

<class 'str'>
yash
<class 'int'>
5
<class 'int'>
45
<class 'float'>
5.5

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
a = 5
b = 10
while i in ab